@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.site-footer {
  padding: 1rem 3rem;
  background-color: black;
  position: relative;
  z-index: 1;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      max-width: 1152px;
      margin: 0 auto;
    }
  }

  &__big-text:first-child {
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }

  &__big-text:last-child {
    @include tablet {
      width: 20%;
      text-align: center;
    }
  }

  &__text {
    color: white;
  }

  &__description {
    margin-bottom: 1.5rem;
  }

  &__main-text {
    font-size: 1.625rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
    margin-left: -0.2rem;
    @include tablet {
      justify-content: center;
    }
  }
}
