@use "./variables" as *;

@mixin min-window-width($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin big-tablet {
  @media (min-width: $big-tablet-width) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: $small-desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
//DRAWER ANIMATION
@keyframes drawer-appear {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  20% {
    opacity: 20%;
    transform: translateY(-80%);
  }
  40% {
    opacity: 40%;
    transform: translateY(-60%);
  }
  60% {
    opacity: 60%;
    transform: translateY(-40%);
  }
  80% {
    opacity: 80%;
    transform: translateY(-20%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

//TEXT SHAKING ANIMATION
@keyframes text-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//FLIP ANIMATION
@keyframes flip-animation {
  0% {
    transform: rotateY(0);
    opacity: 1;
  }
  50% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  75% {
    transform: rotateY(250deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

//REVERSE FLIP ANIMATION
@keyframes reverse-flip-animation {
  0% {
    transform: rotateY(0);
    opacity: 1;
  }
  50% {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  75% {
    transform: rotateY(-250deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(-360deg);
    opacity: 1;
  }
}

//LETTER FLIP ANIMATION
@keyframes letter-flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

//TEXT ANIMATION
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

//DECREASE OPACITY
@keyframes opacity-decrease {
  0% {
    opacity: 1;
    z-index: 5;
  }
  25% {
    opacity: 0.75;
    z-index: 5;
  }
  50% {
    opacity: 0.5;
    z-index: 5;
  }
  75% {
    opacity: 0.25;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: 5;
  }
}
