//SETTING THE VARIABLES FOR THE TABLET AND DESKTOP WIDTHS
$tablet-width: 768px;
$big-tablet-width: 1000px;
$desktop-width: 1280px;
$small-desktop-width: 1200px;
//VARIABLES
$text-color: #16213ed3;
$heading-color: #16213e;
$button-color: #ffd000;
