@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.github-icon {
  background-color: white;
  width: fit-content;
  border-radius: 50%;
  height: 30px;

  &--side-bar {
    height: 33px;
    width: auto;
    @include tablet {
      width: 39px;
    }
    &:hover {
      transition: transform 1s;
      transform: scale(1.2);
    }
  }

  &__container {
    width: 32px;
    height: auto;
    object-position: 0px -2px;
  }
}
