@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.drawer {
  &__list {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    position: fixed;
    width: 100vw;
    opacity: 0;
    background-color: white;
  }

  &__list--disappear {
    display: none;
  }

  &__list--appear {
    animation: drawer-appear 0.5s;
    top: 102px;
    opacity: 1;
    z-index: 4;
    display: block;
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid black;
    font-family: "Fredericka the Great", sans-serif;
  }

  &__item:first-child {
    border-top: 1px solid black;
  }

  &__item:last-child {
    border-bottom: none;
  }
}
