@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.site-header {
  padding: 1rem;
  position: fixed;
  height: 105px;
  z-index: 1000;
  width: 100vw;
  background-color: white;
  color: #16213e;
  @include tablet {
    padding: 1.5rem 2.5rem;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.site-header__name {
  margin-right: auto;
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
  @include tablet {
    font-size: 1.625rem;
  }
  @include desktop {
    margin-left: 2.5rem;
  }
}

.site-header__list {
  display: none;
  @include tablet {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }
  @include desktop {
    gap: 3rem;
  }
}

.site-header__text {
  font-size: 1.3rem;
  cursor: pointer;
  @include tablet {
    &:hover {
      border-bottom: 2px $text-color solid;
    }
    font-size: 1.625rem;
    font-family: "Fredericka the Great", sans-serif;
    animation: text-shaking infinite 0.5s;
  }
}

.site-header__icon {
  width: 25px;
  height: 25px;
  @include tablet {
    display: none;
  }
}
