@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.side-bar {
  position: fixed;
  z-index: 3;
  top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  width: 45px;
  height: 160px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  @include tablet {
    padding-top: 0.8rem;
    width: 55px;
    height: 180px;
    opacity: 0.8;
  }
}
